html,
body {
    height: 100vh !important;
    margin: 0 !important;
    background-image: url('../img/home_wallpaper.jpg');
}

//colors
.bg-dark-transparent {
    background-color: rgba(32, 32, 32, 0.8);
}
.bg-dark-transparent-2 {
    background-color: rgba(32, 32, 32, 0.9);
}
.bg-orange {
    background-color: rgba(239, 90, 40, 1);
}
.text-orange {
    color: rgba(239, 90, 40, 1);
}

//navigation
nav {
    .collapse {
        .container-fluid {
            .row {
                .col-md-6 {
                    .navbar-nav {
                        .nav-item {
                            .dropdown-menu {
                                left: auto;
                                right: 0 !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
