html,
body {
  height: 100vh !important;
  margin: 0 !important;
  background-image: url("../img/CityLight Website Photoshoot/img_8944.jpg");
  background-attachment: fixed;
  background-size: cover;
}

.bg-dark-transparent {
  background-color: rgba(32, 32, 32, 0.6) !important;
}

.bg-dark-transparent-2 {
  background-color: rgba(32, 32, 32, 0.8) !important;
}

.bg-orange {
  background-color: #ef5a28 !important;
}

.text-orange {
  color: #ef5a28;
}

.hr-vertical {
  border-left: 0.1rem solid #ef5a28;
  height: 100%;
}

.display-5 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.card-services {
  width: 400px;
  height: 250px;
  margin: 10px;
  overflow: hidden;
  cursor: pointer;
  display: none;
  background-color: rgba(0, 0, 0, 0) !important;
}

.card-services .card-services-container:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.card-services .card-services-container {
  width: 100%;
  height: 100%;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.card-services .card-services-container .card-services-content-container {
  width: 100%;
  height: 100%;
  background-color: rgba(32, 32, 32, 0.5);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.card-services .card-services-container .card-services-content-container .card-services-content {
  width: 100%;
  height: 100%;
}

.card-services .card-services-container .card-services-content-container:hover {
  background-color: rgba(239, 90, 40, 0.8);
}

.card-plumbing {
  background-image: url("../img/CityLight Website Photoshoot/img_9140.jpg");
  background-size: cover;
}

.card-electrical {
  background-image: url("../img/CityLight Website Photoshoot/img_9051.jpg");
  background-size: cover;
}

.card-hvac {
  background-image: url("../img/CityLight Website Photoshoot/img_9021.jpg");
  background-size: cover;
}

.card-roofing {
  background-image: url("../img/CityLight Website Photoshoot/img_9005.jpg");
  background-size: cover;
}

@media screen and (max-width: 620px) {
  .nav-bar {
    max-height: 100px;
    overflow: hidden;
    -webkit-transition: all 0.8s;
    transition: all 0.8s;
  }
  .nav-bar .container {
    display: block !important;
  }
  .nav-bar {
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.5s;
            transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
  }
  .toggle-button {
    display: block !important;
  }
  .nav-bar-toggle {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
            flex-direction: column !important;
  }
  .nav-bar-toggle .nav-bar-nav-container {
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
    width: 100%;
  }
  .nav-bar-toggle .nav-bar-nav-container .nav-bar-nav {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-padding-start: 0px !important;
            padding-inline-start: 0px !important;
    width: 100% !important;
  }
  .nav-bar-toggle .nav-bar-nav-container .nav-bar-nav li {
    width: 100% !important;
  }
}

@media screen and (min-width: 621px) {
  .nav-bar .container {
    display: none !important;
  }
  .toggle-button {
    display: none !important;
  }
}

.nav-bar-collapse {
  max-height: 100% !important;
  overflow: hidden;
}

.nav-bar-toggle-button-container {
  margin: 20px;
}

.nav-bar-toggle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.nav-bar-toggle .nav-bar-logo {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 10px;
}

.nav-bar-toggle .nav-bar-nav-container {
  display: -webkit-box;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.nav-bar-toggle .nav-bar-nav-container .nav-bar-nav {
  list-style-type: none;
  margin: 0;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar-toggle .nav-bar-nav-container .nav-bar-nav li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border-bottom: 3px solid rgba(0, 0, 0, 0);
}

.nav-bar-toggle .nav-bar-nav-container .nav-bar-nav li a {
  display: block;
  text-decoration: none;
  padding: 10px;
  font-size: 18px;
}

.nav-bar-toggle .nav-bar-nav-container .nav-bar-nav li .dropdown-item:hover {
  background-color: #646464;
}

.nav-bar-toggle .nav-bar-nav-container .nav-bar-nav li:hover {
  background-color: #646464;
  border-bottom: 3px solid #ef5a28;
}

.nav-bar-toggle .nav-bar-nav-container .nav-bar-nav .nav-bar-item-active {
  background-color: #646464;
  border-bottom: 3px solid #ef5a28;
}

@media (min-width: 768px) {
  .modal-service-offer .modal-dialog {
    width: 80% !important;
    margin: 30px auto !important;
  }
}

.our-team .row .card {
  margin-bottom: 20px;
}

.our-team .row .card .card-body .staff-name {
  margin-bottom: 0;
}
/*# sourceMappingURL=index.css.map */